/**
 * Node styling.
 */

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

.main-container {
  min-height: 300px;
}

.path-ngo-consulting {
  .page-header {
    display: none;
  }
  .col-sm-12 {
    padding: 0;
  }
}
