<!-- Add you custom twig html here -->
<section class="section section--contact">
  <div class="custom-container">
    <h1 class="text-center title title--colored"><span class="title__red">Connect</span> with us</h1>
    <form class="text-center">
      <div class="form-item">
        <input type="text" placeholder="Your name" />
        <input type="email" placeholder="EMail" />
      </div>
      <button type="submit" value="" class="btn btn--lg transparent">KARMAKONNECT</button>
    </form>
  </div>
</section>
