<!-- Add you custom twig html here -->
<div class="custom-container heading">
  <h1 class="title title--colored"><img src="themes/karma/images/ngo-consult.png" alt="ngo"><span class="title__black">NGO</span> <span class="title__red"> CONSULTING</span></h1>
</div>
<nav class="fixed--nav clearfix" role="navigation">
  <div class="custom-container">
    <ul class="menu nav navbar-nav">
      <li><a href="#collaboration">Collaboration: The need of the hour</a></li>
      <li><a href="#strategic">Strategic management in NGOs</a></li>
      <li><a href="#solutions">Solutions</a></li>
      <li><a href="#ngo">NGO sustainability</a></li>
      <li><a href="#funds">Raising funds</a></li>
      <li><a href="#consultation">Free consultation call</a></li>
    </ul>
  </div>
</nav>
<div class="custom-container">
  <section class="section section--intro clearfix">
    <div class="section--left-image clearfix">
      <div class="section__left">
        <p>A good NGO has a clear vision of the social impact it wants to make, an ability to demonstrate the impact achieved through good internal governance mechanisms, and most importantly enjoys credibility for the good work it is set out for. It also requires a good strategic planning, value creation and effective and adaptive implementation to become a credible NGO.
        </p>
        <p>Unfortunately, the NGO and non-profit ecosystem in India is largely unorganized, lacking transparency and professionalism. While many NGOs and non-profit organizations do not enjoy credibility, others do not have the ability and/or the vision to be able to make a positive social impact. These prove to be major challenges for any NGO to achieve the desired impact of the work they intend to do.
        </p>
      </div>
      <div class="section__right">
        <img src="themes/karma/images/impact.png" alt="collaboration" />
      </div>
    </div>
    <div class="section--right-image clearfix">
      <div class="section__left">
        <img src="themes/karma/images/intro-one.jpg" alt="ngo-consulting" />
      </div>
      <div class="section__right">
        <p>Most NGOs implement solutions in good faith but lack the ability to deliver it effectively or innovatively. The challenges get aggravated in the remote the areas, where it becomes difficult for the grass roots NGOs to get experienced and qualified staff to stay and work there. In addition, NGOs compete with private sector and government for talent, and often lack the resources to level the playing field, further limiting their reach and impact.
        </p>
        <p>Another challenge that majority of non-profits face is that they focus entirely on carrying out their mission with little innovation and research. They ignore the importance of being transparent, fostering donor relations through appropriate communications, and promoting their good work (marketing). They do not develop a ‘value proposition’, a ‘niche’ with a clear action-plan on sustainability and solutions that help bring real impact.
        </p>
      </div>
      <p class="section__specific top">In addition, majority of NGOs and non-profit organizations are found lacking in lack donor engagement, reporting, and information systems know-how, which results in higher operational costs and lower effective program management.
      </p>
    </div>
    <div class="section__quote clearfix">
      <i class="fa fa-quote-left" aria-hidden="true"></i>A challenge that majority of non-profits face is that they focus entirely on carrying out their mission with little innovation and research
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="text-center"><a href="#" class="text-center btn transparent">GET IT TOUCH</a></div>
  </section>
  <section class="section section--collaboration clearfix" id="collaboration">
    <h1 class="title title--colored">Collaboration: <span class="title__red">The need of the hour</span></h1>
    <div class="section--left-image clearfix">
      <div class="section__left">
        <p>The NGO/non-profit ecosystem, also referred to as the development sector at times, work on issue-based projects. So, they may be focused on one sector such as health, education, environment etc. However, human life cannot be segregated into sectors and that same one person needs proper healthcare, education and healthy environmental conditions. Therefore, it will be more meaningful and make a better impact if different organizations focusing on different areas can combine forces to collaborate for holistic development and impactful results.
        </p>
        <p>This collaborative ecosystem will help every participating entity become more sustainable, acquire the ability to scale up, and face challenges better. It will also help make meaningful impact with 360 degree result. For example, rural education coupled with employment opportunities can help people in the villages get educated and find means of livelihood in their own villages without leaving their families behind.
        </p>
      </div>
      <div class="section__right">
        <img src="themes/karma/images/collaboration.jpg" alt="collaboration" />
      </div>
    </div>
    <div class="section__quote clearfix">
      <i class="fa fa-quote-left" aria-hidden="true"></i>Collaboration creates a win-win situation not only for the participants but also for the beneficiaries leading to holistic development
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="text-center"><a href="#" class="text-center btn transparent">GET IT TOUCH</a></div>
    <p class="section__specific top">
      Collaboration creates a win-win situation not only for the participants but also for the beneficiaries leading to holistic development. And therefore, in-keeping with its vision of empowering individuals, NGOs, corporates, and government to connect and collaborate to create tangible change, KarmaKonnect enables, motivates, and empowers individuals and organizations to tap the growing philanthropy landscape by creating and collaborating for credible projects and causes through a SMART charity ecosystem and citizens-for-change movement.
    </p>
  </section>
  <section class="section section--strategic" id="strategic">
    <h1 class="title title--colored"><span class="title__red">Strategic management</span> in NGOs</h1>
    <div class="section--left-image clearfix">
      <div class="section__left">
        <p>Besides contributing to the development if community and society, creating knowledge for the social sector, NGOs are also the catalysts of policy innovations and social capital. It is therefore imperative that NGOs be future ready and look to create opportunities that do not present themselves. This is where strategic management of the NGOs plays an important role. Chalking out strategies for various stages of development will help measure the results in defined timeframes.
        </p>
        <p>The strategy for any NGO is largely driven by the goals and vision of its founders. In the nascent stage, NGOs need to chart out growth plans, scalability and strategies for survival and self-sustenance. In the growth phase, NGOs should focus on achieving operational efficiency, while in the later stages of maturity the focus should be on long-term sustainable objectives, and institution-building and social sustainability.
        </p>
      </div>
      <div class="section__right">
        <img src="themes/karma/images/management.jpg" alt="collaboration" />
      </div>
      <p class="section__specific top">Due to the complexities in their organizational structures, strategic management in NGOs is far complex, with the crucial problem area being people management. However, there is a pressing need for any NGO to become self-sustaining in order to reduce its dependence on its founder members and donors. Therefore, NGO need to build capabilities that can help make them sustainable through transparency in sourcing and using funds.
      </p>
      <p class="section__specific">The key ingredients for strategic management in any NGO, therefore, includes creation of winning teams, developing a strong organizational culture that fosters learning and capability building, strong decision making process, shared values, robust HR policies, and clear documentation.
      </p>
    </div>
    <div class="section__quote">
      <i class="fa fa-quote-left" aria-hidden="true"></i>In the growth phase, NGOs should focus on achieving operational efficiency, while in the later stages of maturity the focus should be on
      long-term sustainable objectives
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="text-center"><a href="#" class="text-center btn transparent">GET IT TOUCH</a></div>
  </section>
  <section class="section section--solutions" id="solutions">
    <h1 class="title title--colored">KarmaKonnect <span class="title__red">solutions</span></h1>
    <p>With its hand-on approach, KarmaKonnect aims to make the NGO/non-profit ecosystem transparent and professional by sharing best practices, developing full-featured strategy, as well as empowering the small-scale ‘giving’ projects to get the maximum returns. KarmaKonnect Foundation is a charitable trust, that aims to help bring transparency and operational efficiencies to the Non-profit/social entrepreneurship ecosystem, facilitate sharing of best practices, and facilitation of donor/CSR/grant connects. Through its Social Venture Philanthropy model, KarmaKonnect identifies, handholds, and builds capacities of genuine grassroots NGOs to help them achieve accountability, sustainability, scalability, and leadership. This enables NGOs to broad-base their investment; and maximize reach with optimized returns.
    </p>
    <div class="text-center"><img src="themes/karma/images/solutions.jpg" alt="ngo" /></div>
    <div class="section__quote">
      <i class="fa fa-quote-left" aria-hidden="true"></i>KarmaKonnect identifies, handholds, and builds capacities of genuine grassroots NGOs to help them achieve accountability, sustainability, scalability, and leadership
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="text-center"><a href="#" class="text-center btn transparent">GET IT TOUCH</a></div>
  </section>
  <section class="section section--ngo" id="ngo">
    <h1 class="title title--colored">Steps to create <span class="title__red">NGO sustainability</span></h1>
    <div class="section--left-image clearfix">
      <div class="section__left">
        <p>KarmaKonnect helps you become a sustainable NGO through good strategic planning, value creation, and effective and adaptive implementation. Following the seven steps to sustainability, KarmaKonnect helps you develop your growth strategy and plan; use relationship management and social media to remain sustainable and grow exponentially.
        </p>
        <p>As a non-profit organization, you not only benefit from KarmaKonnect’s expertise in streamlining your operations, designing and implementing innovative fund-raising strategies across multiple channels, connecting various stakeholders, and facilitation of volunteer services, but also benefit from research reports on global best practices that aligns with your social purpose. You get the much needed help in positioning your social media efforts for maximum traffic generation and converting traffic to become supporters. You get access to all the ingredients of a successful NGO such that you can keep all your beneficiaries happy. So, you can rest assured that your time, effort, and resources are maximized in order to impact a larger number of lives.
        </p>
      </div>
      <div class="section__right">
        <img src="themes/karma/images/sustain-1.jpg" alt="collaboration" />
      </div>
    </div>
    <div class="section--right-image clearfix">
      <div class="section__left">
        <img src="themes/karma/images/sustain-2.jpg" alt="ngo-consulting" />
      </div>
      <div class="section__right">
        <p>With KarmaKonnect’s support you are able to create a clear roadmap and strategy for effective planning and efficient implementation. You will be able to better understand relationship management and social media – Facebook, Twitter, YouTube etc, and how you can best deliver content on these social media platforms. KarmaKonnect will help you create, develop, and grow a community around your cause, as data showing this rising generation is eager to connect, get involved, and give to causes they’re passionate about. In a nutshell, partnering with KarmaKonnect will help you create a value product and/or service which you can sell to generate revenue, while also add value to the users.
        </p>
        <p>As a trusted partner, KarmaKonnect supports you with fundraising activities to acquire sponsorship from large organizations and develop partnerships with other institutions. You also get help on how to efficiently bridge the gap between reporting expectations of your strategic partners through audits and consulting, as well as assistance in report writing and trust-based relationship building.
        </p>
      </div>
      <p class="section__specific top">KarmaKonnect underscores the fact that helping is not simply a matter of dispersing money but of making a deep, long-term commitment and casting a hard eye on results. Whether it is launch of new projects, expansion of old projects, fundraising campaigns, millennial engagement, regular counseling, or better productivity, efficiency enhancement, capacity building of grassroots NGOs, communication, and process of good governance, KarmaKonnect can help you realize your goal more efficiently and professionally under its Build model.
      </p>
      <p class="section__specific">
        Being a valued client, KarmaKonnect provides you highlighted website listing and donation routing services, as well as operational consulting and dedicated marketing services for your projects/services to Corporates, NRI Donors and Government Agencies (Grants).
      </p>
    </div>
    <div class="section__quote">
      <i class="fa fa-quote-left" aria-hidden="true"></i>KarmaKonnect can support you to acquire sponsorship from large
      organizations and develop partnerships with other institutions
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="text-center"><a href="#" class="text-center btn transparent">GET IT TOUCH</a></div>
  </section>
  <section class="section section--funds clearfix" id="funds">
    <h1 class="title title--colored"><span class="title__red">Raising funds</span> with KarmaKonnect </h1>
    <div class="section--left-image clearfix">
      <div class="section__left">
        <p>Leading NGOs and non-profits today are leveraging the power of internet to arrive at an integrated fundraising model which is mostly online. To this end, KarmaKonnect is your go-to partner that can help you with fundraising campaigns with continuity. Besides the traditional  methods of targeted and recurring donation drives, KarmaKonnect also follows the new nonprofit model which nurtures new donors through education and empowerment, making them become a part of your community. This positive engagement increases donor support overtime with many metamorphosing into recurring or life donors, increasing the ROI on your campaign investment.
        </p>
        <p>KarmaKonnect helps you start your own P2P community online; and using appropriate and easy call-to-action help them become more interactive and involved with your cause. KarmaKonect helps you use the community to showcase your efforts, the impact that you have created, and tell stories of the efforts gone into a project well finished. You can use the community to provide details of the ongoing activities, answers to the questions posed by members, and lead them through strong call-to-actions and directions in order to get them involved.
        </p>
      </div>
      <div class="section__right">
        <img src="themes/karma/images/funds.jpg" alt="collaboration" />
      </div>
    </div>
    <div class="section__quote">
      <i class="fa fa-quote-left" aria-hidden="true"></i>KarmaKonnect can support you to acquire sponsorship from large
      organizations and develop partnerships with other institutions
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="text-center"><a href="#" class="text-center btn transparent">GET IT TOUCH</a></div>
    <p class="section__specific">
      KarmaKonnect will help you with the required marketing strategies to mobilize and further build your resources. KarmaKonnect will help you empower and build your P2P community by way of recognition to outstanding members, educating about the causes, or even inviting them to blog. Apart from greater interaction, involvement, and support for your cause, KarmaKonnect will help you achieve greater contribution in terms of volunteering time and donations/grants.
    </p>
  </section>
  <section class="section section--consultation clearfix" id="consultation">
    <h1 class="title title--colored">Free <span class="title__red">consultation call</span></h1>
    <p>To know more about what KarmaKonnect can do for you, request a free consultation call on strategy development for your NGO. KarmaKonnect representatives will be happy to talk you through the best way forward for your non-profit. This strategy development consultation will have KarmaKonnect experts personally guide you on reviewing the current status of your NGO’s operation, growth, and promotion strategies; help you adapt them in-line with the seven steps to self-sustainability for your NGO; and outline key performance metrics for continual evaluation.
    </p>
    <p>Learn how KarmaKonnect can help you by clicking your area of interest:
    </p>
    <div class="text-center">
      <img src="themes/karma/images/counsultation.jpg" alt="collaboration" />
    </div>
    <div class="section__quote">
      <i class="fa fa-quote-left" aria-hidden="true"></i>KarmaKonnect can support you to acquire sponsorship from large
      organizations and develop partnerships with other institutions
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="text-center"><a href="#" class="text-center btn transparent">GET IT TOUCH</a></div>
  </section>
</div>
<section class="section section--contact">
  <div class="custom-container">
    <h1 class="text-center title title--colored"><span class="title__red">Connect</span> with us</h1>
    <form class="text-center">
      <div class="form-item">
        <input type="text" placeholder="Your name" />
        <input type="email" placeholder="EMail" />
      </div>
      <button type="submit" value="" class="btn btn--lg transparent">KARMAKONNECT</button>
    </form>
  </div>
</section>
